{% extends 'base.html' %}
{% block body %}

    <div class="container">



    <div class="container">
        {% for post in object_list %}
          <div class="card-deck mb-3 text-left">
            <div class="card mb-4 box-shadow">
              <div class="card-header text-success">
                <h4 class="my-0 font-weight-normal">{{ post.post_category.title }}</h4>
              </div>
              <div class="card-body">
                <span class="align-left">{{ post.title }}</span>
                <b>{{ post.content }}</b><br>
                <span class="text-info">Author --- {{ post.author }}</span>
              </div>

            </div>
            <br>
          </div>
        {% endfor %}



    </div>

    </div>
{% endblock %}